@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-x-scroll {
    scroll-behavior: smooth;
}
/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

body, html {
    overflow: auto;
}

/* In App.css or another stylesheet */
.custom-header1 {
    font-family: 'Rubik', sans-serif;
  }

  /* In App.css or another stylesheet */
.custom-header {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  
  
  }
  .seat-layout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tier {
    margin-bottom: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 8px;
}

@keyframes growShrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); /* Grow to 110% size */
    }
    100% {
        transform: scale(1); /* Shrink back to original size */
    }
}



